.text {
  font-size: 12px;
  margin: 0;
  font-weight: 300;
}

.text2 {
  font-size: 14px;
  margin: 0;
  font-weight: 300;
}

.textGrey {
  font-size: 12px;
  color: #717171;
  margin: 0;
  font-weight: 300;
}

.textBold {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.textBoldLarge {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.input {
  width: 100%;
  min-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: white;
  color: black;
  border: 1px solid #7c7b7b;
  border-radius: 2px;
  outline: none;
}

.header {
  width: 45%;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  margin-top: 30px;
  margin-left: 10%;
  padding-bottom: 15%;
  height: 200%;
  width: 45%;
}

/* Shipping, Payment and stripe container classes */

.shippingContainer {
  width: 100%;
  height: 20%;
}

.paymentContainer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
}

.stripeContainer {
  width: 100%;
}

/* Order summary classes */

.orderSummaryContainer {
  position: fixed;
  top: 4rem;
  right: 10%;
  height: 80%;
  min-width: 250px;
  width: 25%;
  border: 1px solid #7c7b7b;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItemsContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3%;
  margin: 4%;
  margin-bottom: 0;
  min-height: 0;
  max-height: 60%;
  overflow: scroll;
}

.orderSummaryInfoContainer {
  max-height: 95%;
  min-height: fit-content;
  width: 92%;
  margin: 4%;
  display: flex;
  flex-direction: column;
}

.line {
  border-bottom: 1px solid #7c7b7b;
}

.discountContainer {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5%;
  flex-direction: row;
  height: 20%;
}

.discountInputContainer {
  margin-left: 5%;
  min-width: 150px;
  max-width: 50%;
}

.discountInput {
  width: 100%;
}

.discountInput::placeholder {
  color: #717171;
}

.discountLabel {
  left: 15px!important;
}

.discountButton {
  background-color: white;
  border: 1px solid white;
  border-bottom: 1px solid black;
  height: 20px;
  padding: 0;
}

.orderSummaryInfoRow {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: black;
  width: 25%;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
}

/* Mobile classes */

.mobileHeader {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileContentContainer {
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
  height: 250%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mobileOrderSummaryContainer {
  max-height: 40%;
  margin-bottom: 8%;
  border: 1px solid #7c7b7b;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mobileShippingContainer {
  width: 100%;
  height: 15%;
  margin-bottom: 10%;
}

.mobilePaymentContainer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.mobileButtonContainer {
  margin-top: 10%;
}

.mobileButton {
  width: 50%;
}
