.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-top: 5%;
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  line-height: 34px;
}

.contentContainer {
  width: 80%;
  padding: 2%;
  margin-left: 8%;
  margin-bottom: 10%;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.subHeading {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.subHeading2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

.inputGroup {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  column-gap: 5%;
  row-gap: 60px;
}

@media (max-width: 800px) {
  .inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }
}

.inputGroup2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.input {
  border: none;
  border-bottom: 1px solid #b6b4b4;
  outline: none;
}

.input::placeholder {
  color: #b6b4b4;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 1% 5% 1% 5%;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.modalButton {
  padding: 1% 5% 1% 5%;
  background-color: black;
  border: 1px solid black;
  border-radius: 2px;
  color: white
}
