.container {
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  background-color: white;
}

.discoverWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 1.5rem);
  position: absolute;
  width: 100%;
}

.discoverContainer {
  width: 500px;
  height: 3rem;
  z-index: 10;
  display: flex;
  flex-direction: row;
  color: white;
}

.link {
  width: calc(100% / 3);
  font-size: 22px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100%;
}
