.header {
    color: black;
    background-color: white;
    position: relative;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 10%;
}

.image {
    width: 100%;
}