.productsContainer {
  margin-top: 5%;
  margin-bottom: 10%;
  display: grid;
  gap: 10px; /* Adjust the gap between products as desired */
  position: relative;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobileImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }