.header {
    position: relative;
}

.container {
    display: flex;
    height: calc(100% - 10rem);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.searchContainer {
    height: 40%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    justify-content: center;
    overflow: scroll;
}

.logoContainer {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 30px;
    height: 30px;
}

.inputContainer {
    width: 60%;
    min-width: 300px;
    height: 100%;
}

.input {
    width: 100%;
    outline: none;
    font-size: 18px;
    padding-left: 15px;
    height: 50px;
    border: 1px solid black;
}

.input::-webkit-search-cancel-button{
    background: black;
    padding-right: 15px;    
}

.menuOptions {
    width: 100%;
    padding-left: 15px;
}

.menuOption {
    border-bottom: 1px solid black;
    width: 30%;
    min-width: 200px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}