.nav {
  width: 100%;
  height: 6rem;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  color: white !important;
}

.logo {
  display: flex;
  font-size: 60px;
  width: 50%;
  align-items: center;
  justify-content: center;
  color: black;
}

.navOptions {
  display: flex;
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}

.navOption {
  font-size: 20px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.mobileLogo {
  display: flex;
  font-size: 30px;
  width: 50%;
  align-items: center;
  justify-content: center;
  color: black;
}

.navIconContainer {
  width: 25%;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenuContainer {
  position: fixed;
  height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  left: 0;
  z-index: 50;
  padding: 1rem;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.08),
    4px -4px 4px rgba(0, 0, 0, 0.08);
}

.navMenu {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-top: 1rem;
}

.menuOption {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  background-color: black;
  transition: 600ms ease-in-out forwards;
  z-index: 15;
}

.containerIn {
  animation: slide-inn 600ms ease-in-out forwards;
}

.containerOut {
  animation: slide-out 600ms ease-in-out forwards;
}

@keyframes slide-inn {
  from {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0.5;
    transform: translateX(-100%);
  }
}

.backdropIn {
  animation: in 600ms ease-out forwards;
}

.backdropOut {
  animation: out 600ms ease-out forwards;
}

@keyframes in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}

@keyframes out {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0;
  }
}
