.nav {
  width: 100%;
  height: 6rem;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: row;
  color: white !important;
}

.logo {
  display: flex;
  font-size: 60px;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.navOptions {
  display: flex;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-left: 5%;
  margin-right: 5%;
}

.navOption {
  font-size: 20px;
  width: calc(100% / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.mobileLogo {
  display: flex;
  font-size: 30px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.navIconContainer {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIcon {
  width: 30px;
  height: 30px;
}

.mobileNavMenu {
  position: absolute;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 6rem;
  padding-bottom: 5px;
}

.mobileNavContainer {
  border-bottom: 1px solid black;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.navOptionMobile {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.bump {
  animation: bump 500ms ease-out;
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.35);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
