.text {
  color: black;
  margin: 0;
  width: 100%;
  font-size: 16px;
}

.inputContainer {
  width: 80%;
  min-width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  border: 1px solid transparent;
}

.input::-webkit-search-cancel-button{
  background: black;
  padding-right: 15px;    
}

.menuOptions {
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 1%;
}

.menuOption {
  border-bottom: 1px solid black;
  width: fit-content;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}