.indexContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.index {
    height: 14px;
    width: 40px;
    border-top: 2px solid lightgray;
    margin-left: 5px;
    margin-right: 5px;
}

.indexActive {
    border-top: 2px solid black;
}