html {
    height: 100%
}

body {
    margin: 0;
    height: 100%;
}

#__next {
    height: 100%;
}

span {
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}