@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: 300 500 600 700 800 900;
  src: url("../public/fonts/Inter.var.woff2");
}

html {
  height: 100%;
  width: 100%;
  font-family: "Inter";
}

head {
  font-family: "Inter";
}

input {
  font-family: "Inter";
}

textarea {
  font-family: "Inter";
}

textarea::placeholder {
  font-family: "Inter";
}

input::placeholder {
  font-family: "Inter";
  color: white;
}

button {
  font-family: "Inter";
}

body {
  margin: 0;
  height: 100%;
  font-family: "Inter";
}

title {
  font-family: "Inter";
}

#__next {
  height: 100%;
}

span {
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-bullet {
  height: 2px !important;
  width: 40px !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

a {
  text-decoration: none;
  color: inherit;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next:after {
  color: black!important;
}
.swiper-button-prev::after {
  color: black!important;
}