.container {
  height: 100%;
  position: relative;
}

.header {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  font-size: 60px;
  z-index: 20;
  position: fixed;
}

.videoContainer {
  height: 100%;
  width: 100%;
}

.contentContainer {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
}

.textContainer {
  width: 40%;
  padding-left: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discoverContainer {
  width: fit-content;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: black;
}

.discover {
  font-size: 24px;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.imageContainer {
  position: absolute; 
  top: 110%;
  right: 0;
  width: 30%; /* Set width to 100% to cover the screen */
  height: 100%; /* Set height to 100% to cover the screen */
}

.image {
  height: 100% !important;
  width: 40%;
}