.container {
    height: 100%;
}

.header {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    font-size: 60px;
    z-index: 20;
    position: fixed;
}

.discoverContainer {
    height: 3rem;
    width: 22rem;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: row;
    top: calc(50% - 1.5rem);
    left: calc(50% - 11rem);
    color: black;
}

.discover {
    font-size: 30px;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagesContainer {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    margin: 0;
}

.image {
    height: 100%!important;
}